<!-- 
        ================================================== 
            Global Page Section Start
        ================================================== -->
<app-global shock="About"></app-global>


<!-- 
================================================== 
    Company Description Section Start
================================================== -->
<app-company-description></app-company-description>


<!-- 
================================================== 
    Company Feature Section Start
================================================== -->
<app-company-feature></app-company-feature>


<!-- 
================================================== 
    Team Section Start
================================================== -->
<app-team></app-team>

<!-- 
        ================================================== 
            Clients Section Start
        ================================================== -->
<app-clients></app-clients>