<figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
  <div class="img-wrapper">
    <img src="../assets/images/portfolio/item-1.jpg" class="img-responsive" alt="this is a title">
    <div class="overlay">
      <div class="buttons">
        <a rel="gallery" class="fancybox" href="../assets/images/portfolio/item-1.jpg">Demo</a>
        <a target="_blank" href="single-portfolio.html">Details</a>
      </div>
    </div>
  </div>
  <figcaption>
    <h4>
      <a href="#">
        Dew Drop
      </a>
    </h4>
    <p>
      Redesigne UI Concept
    </p>
  </figcaption>
</figure>