<!--
        ==================================================
        Header Section Start
        ================================================== -->
<app-header></app-header>
<!--
==================================================
Slider Section Start
================================================== -->
<app-slider></app-slider>
<!--/#main-slider-->

<!--
==================================================
About Section Start
================================================== -->
<app-about></app-about>
<!-- /#about -->


<!--
==================================================
Portfolio Section Start
================================================== -->
<app-works></app-works>
<!-- #works -->
<!--
==================================================
Portfolio Section Start (Feature)
================================================== -->
<app-feature></app-feature>

<app-about-page></app-about-page>

<app-service></app-service>

<app-blog></app-blog>

<app-contact></app-contact>

<app-not-found></app-not-found>

<app-gallery></app-gallery>