<figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="300ms">
    <div class="img-wrapper">
        <img src="../assets/images/portfolio/item-3.jpg" class="img-responsive" alt="">
        <div class="overlay">
            <div class="buttons">
                <a rel="gallery" class="fancybox" href="../assets/images/portfolio/item-3.jpg">Demo</a>
                <a target="_blank" href="single-portfolio.html">Details</a>
            </div>
        </div>
    </div>
    <figcaption>
        <h4>
            <a href="#">
                Table Design
            </a>
        </h4>
        <p>
            Lorem ipsum dolor sit amet.
        </p>
    </figcaption>
</figure>